body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}


a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.container{
  width:1170px;
  margin:auto;
}

.header{
	height:56px;
	width:100%;
	background-color:#f1bf99;
	position:fixed;
	top:0;
}

.header-right a{
	float:right;
	line-height:22px;
	display:inline-block;
	margin-left:10px;
	padding:16px 5px;
		color:white;
	
}


	
}

.heder-right:active{

 transition:background-color 0.5s;
 border-bottom:5px solid #000000;

}
	
	
	
	.contact{
		padding:120px 60px;
		
		color:#5a5c5f;
		height:800px;
		
	}
	
	.contact-title{
	margin-bottom:15px;
	margin-top:200px;
	
		
	}
	
	.contact-form h3{
		margin-top:20px;
		margin-bottom:5px;
		color:#4c4e52;
		
	}
	
	input,textarea{
	font-size:15px;
    width:400px;
padding:2px 4px;	
		
	}
	
	.submit-button{
		margin-top:20px;
		font-size:18px;
		width:80px;;
	}
	
	
	
	
footer{
	height:100px;
	background-color:#f1bf99;
	color:white;
margin-bottom:5px;

}

.footer-left{
	float:left;
	
}

.footer-right{
	float:right;
	padding-top:15px;
	
}
.footer-left p{
	margin-bottom:5px;
	
}


